.hero  {
  background: url(images/natpark01.jpg) center / cover;

}
.title {

}
.outlined {
color: white;
font-size: 2em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}


.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
